{% extends 'main/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}

{% block content_name %}
        <div>
            <h2>{{ page_title }}</h2><hr>
            {% if temp %}
                <h4>НОВАЯ</h4>
            {% else %}
                 <h4>РЕДАКТИРОВАНИЕ</h4>
            {% endif %}

        </div>
{% endblock %}


{% block content2 %}
<form method="post">
<div style="background-color: #33ffff" class="boxShadow8 line_block">

        {% csrf_token %}
        {{ form.date_input_card }}
        Заявитель
        {{ form.company_name }}<br>
        {{ form.inn }}<br>
        {{ form.ogrn }}<br>
        <hr>
        Паспортные данные
        {{ form.company_address }}<br>
        {{ form.company_phone }}<br>

        <button type="submit" class="btn btn-secondary btn-sm">Записать</button>
        <span>{{ error }}</span>
</div>
</form>

{% endblock %}