{% extends 'main/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}

{% block content_name %}
Регистрация заявки
{% endblock %}


{% block content2 %}
<div class="boxShadow8 line_block">
    <form method="post">
        {% csrf_token %}
        Заявитель
        {{ form.last_name }}<br>
        {{ form.name_name }}<br>
        {{ form.first_name }}<br>
        <hr>

        Паспортные данные
        {{ form.place_of_issue }}<br>
        {{ form.division_code }}<br>
        {{ form.date_of_issue }}<br><br>
        {{ form.date_of_birth }}<br><br>
        {{ form.place_of_birth }}<br>
        {{ form.registration_address }}<br>
        {{ form.residential_address }}<br>
        {{ form.sn_passport }}<br>
        <hr>

        СНИЛС
        {{ form.snils }}<br>
        {{ form.card_search }}<br>
        <hr>
        <button type="submit" class="btn btn-secondary btn-sm">Записать</button>
        <span>{{ error }}</span>
    </form>
</div>
{% endblock %}

