{% extends 'main/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}

{% block content_name %}
Регистрация заявки
{% endblock %}


{% block content1 %}
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.task }}<br>
        {{ form.idate }}<br><br>
        <button type="submit" class="btn btn-secondary btn-sm">отправить</button>
        <span>{{ error }}</span>

{% endblock %}

{% block content2 %}
    Вторая часть блока для регистрации заявок
    <p>Разные поля для ввода и вывода кнопки разные</p>
{% endblock %}