{% extends 'main/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}

{% block content_name %}
Статусы заявок
{% endblock %}


{% block content1 %}
<h4>{{ title1 }}</h4>
<hr>
{% for el in tasks %}
<h3>{{ el.title }}</h3>
<p> {{ el.task }}</p>
<p> {{ el.idate}}</p>
<hr>
{% endfor %}
{% endblock %}



{% block content2 %}
<h4>{{ title2 }}</h4>
{% for el in tasks %}
<div class="boxShadow8 line_block">
    <h4>{{ el.title }}</h4>
    <hr>
    <pre>{{ el.task }}</pre>
    <pre>{{ el.idate }}</pre>
    <hr>
</div>
{% endfor %}
{% endblock %}


