{% extends 'main/base.html' %}

{% block title %}
CRM "ГК-НК"
{% endblock %}

{% block content_name %}
Статусы заявок
{% endblock %}


{% block content1 %}
<h4>{{ title1 }}</h4>
<hr>
{% for el in tasks %}
<h3>{{ el.title }}</h3>
<p> {{ el.task }}</p>
<p> {{ el.idate}}</p>
<hr>
{% endfor %}
{% endblock %}



{% block content2 %}
<h4>{{ title2 }}</h4>
<div class="boxShadow8 line_block">
    <h1>Первый блок</h1>
    <hr>
</div>

<div class="boxShadow8 line_block">
<h1 class="form-header">Насколько вероятно Вы порекомендуете инструмент?</h1>
        <div class="rating-wrapper">

            <label class="radio-container">1
                <input type="radio" name="rating" value="1">
                <span class="radio-checkmark"></span>
            </label>

            <label class="radio-container">2
                <input type="radio" name="rating" value="2">
                <span class="radio-checkmark"></span>
            </label>

            <label class="radio-container">3
                <input type="radio" name="rating" value="3">
                <span class="radio-checkmark"></span>
            </label>

       </div>
</div>
{% endblock %}


